.titulo-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; // Espacio entre el título y el logo
    justify-content: center; /* Centra el contenido horizontalmente */
    margin-bottom: 20px; // Relleno superior e inferior reducido
  
    h1 {
      margin: 0;
      font-size: 2rem; // Ajusta el tamaño según tus necesidades
    }
  
    .logoMabel {
        width: 200px; /* 150px / 5 */
        height: auto; /* Mantiene la proporción original */
        display: inline-block;
        object-fit: contain;
        animation: rebotar 2s 1s infinite;
      }
      
  }
  
  @keyframes rebotar {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  